.btn.btn-default {
    font-size:20px; 
    padding: 25px;
}

.button-container {
    display:inline-block; 
    text-align: center;
    margin-right:50px;
    border-radius: 5px;
}

.form-control {
    margin: 10px 0;
}

.droppable {
    padding:10px;
    border:1px solid #bbb;
    min-height:60px;
}

.highlight {
	border:solid 1px #0d0;
}
