<ul class="nav nav-tabs">
  <li class="active">
    <a>Manage Posters</a>
  </li>
</ul>
<br>
<div class="row">
  <div class="col-xs-6 col-xs-offset-6">
    <div class="button-container">
      <button class="btn btn-default" (click)="onAddAuthorAndPoster()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <div>Create Author & Poster</div>
    </div>
    <div class="button-container">
      <button class="btn btn-default" (click)="onAddSession()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <div>Create Session</div>
    </div>
  </div>
</div>

<div>
  <h2>Without a session</h2>
</div>
<form [formGroup]="posterForm">
  <div class="row" *ngIf="isAddingPoster">
    <div class="col-xs-4 col-xs-offset-4">
      <input type="text" class="form-control" formControlName="authorEmail" placeholder="author email">
      <div *ngIf="posterForm.get('authorEmail').invalid && posterForm.get('authorEmail').touched">
        <span class="help-block" *ngIf="posterForm.get('authorEmail').errors['required']">The author email is required</span>
        <span class="help-block" *ngIf="posterForm.get('authorEmail').errors['userWithEnteredEmailDoesNotExist']">There is no user registered with this email</span>
      </div>
    </div>
    <div class="col-xs-3">
      <input type="text" class="form-control" formControlName="title" placeholder="poster title">
    </div>
    <div class="col-xs-1">
      <button class="btn btn-success" style="height:54px" (click)="onSaveAuthorAndPoster()" [disabled]="posterForm.invalid">Save</button>
    </div>
  </div>
</form>

<div class="row" *ngFor="let poster of posters.slice(pageNumber*pageSize, (pageNumber + 1)*pageSize)" 
  [dragDirective]="poster" 
  [dragHightlight]="'highlight'">
  <div class="col-xs-4">
    <label>{{poster.id}}</label>
  </div>
  <div class="col-xs-4">
    <label>{{users[poster.author]?.email}}</label>
  </div>
  <div class="col-xs-4">
    <label>{{poster.title}}</label>
  </div>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a aria-label="Previous" (click)="onPreviousPage()">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li *ngFor="let page of pages; let i = index" [ngClass]="{active: i === pageNumber}" (click)="onPageNumber(page)">
      <a>{{page}}</a>
    </li>
    <li (click)="onNextPage()">
      <a aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<form [formGroup]="sessionForm" *ngIf="isAddingSession">
  <div class="row">
    <div class="col-xs-3">
      <input type="text" class="form-control" formControlName="title" placeholder="Session title">
      <span class="help-block" *ngIf="sessionForm.get('title').invalid && sessionForm.get('title').touched">The title is required</span>
    </div>
    <div class="col-xs-1">
      <button class="btn btn-success" style="height:54px" (click)="onSaveSession()" [disabled]="sessionForm.invalid">Save</button>
    </div>
  </div>
  <p>Drop posters in this box!</p>
  <div dropDirective (dropEvent)="addDropItem($event)" class="droppable" [dropHighlight]="'highlight'" >
    	<div class="row" *ngFor="let slot of sessionForm.value.slots">
      <div class="col-xs-4">
        <label>{{slot?.poster}}</label>
      </div>
      <div class="col-xs-4">
        <label>{{users[slot?.speaker]?.email}}</label>
      </div>
      <div class="col-xs-4">
        <label>{{postersById[slot?.poster]?.title}}</label>
      </div>
    </div>
  </div>
</form>

<div class="row" *ngFor="let session of sessions">
  <div>
    <h2>{{session.title}}</h2>
  </div>
  <div class="row" *ngFor="let slot of session.slots">
    <div class="col-xs-4">
      <label>{{slot.order}}</label>
    </div>
    <div class="col-xs-4">
      <label>{{users[slot.speaker]?.email}}</label>
    </div>
    <div class="col-xs-4">
      <label>{{postersById[slot.poster]?.title}}</label>
    </div>
  </div>
</div>