<div class="col-md-offset-4 col-md-4">
  <h1>Create Organiser</h1>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <select name="title" class="form-control" ngModel required #title="ngModel">
        <option disabled selected value="">Title</option>
        <option value="Mr.">Mr.</option>
        <option value="Ms.">Ms.</option>
        <option value="Dr.">Dr.</option>
        <option value="Prof.">Prof.</option>
      </select>
      <span class="help-block" *ngIf="title.invalid && title.touched">The title is required</span>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Full Name" class="form-control" name="name" ngModel required #name="ngModel">
      <span class="help-block" *ngIf="name.invalid && name.touched">The name is required</span>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Email Address" class="form-control" name="email" ngModel required email #email="ngModel">
      <span class="help-block" *ngIf="email.invalid && email.touched">Please enter a valid email</span>
    </div>
    <button class="btn btn-success" type="submit" [disabled]="f.invalid">Create</button>
  </form>
</div>